<!-- All trips view -->
<div class="container">
<div *ngIf="!selected">
  <table class="table table-striped table-hover" >
  <thead class="thead-dark"><tr><th>Title</th><th>Rating</th><th>Total Cost</th><th>Date Start</th><th>Date End</th><th>Review</th><th>imgLink</th></tr></thead>
  <tbody>
  <tr *ngFor="let trip of trips">
      <td (click)="displayTrip(trip)">{{trip.title}}</td>
      <td>{{trip.rating}}</td>
      <td>{{trip.dateStart}}</td>
      <td>{{trip.dateEnd}}</td>
      <td>{{trip.review}}</td>
      <td>{{trip.imgLink}}</td>
      <td><button class="btn-danger"type="submit" value="destroy" (click)="deleteTrip(trip.id)">Destroy</button>
    </tr>
  </tbody>
  </table>
</div>
<!-- New Trip Form -->
<div>
<form #tripForm="ngForm">
  Title
  <input type="text" name="title" [(ngModel)]="newTrip.title">
  Rating
  <input type="text" name="rating" [(ngModel)]="newTrip.rating">
  Total Cost
  <input type="text" name="rating" [(ngModel)]="newTrip.totalCost">
  Date Start
  <input type="text" name="dateStart" [(ngModel)]="newTrip.dateStart">
  Date End
  <input type="text" name="dateEnd" [(ngModel)]="newTrip.dateEnd">
  Review
  <input type="text" name="imgLink" [(ngModel)]="newTrip.review">
  imgLink
  <input type="text" name="imgLink" [(ngModel)]="newTrip.imgLink">
  <button class="btn btn-primary btn-sm btn-dark" type="submit" value="Save" (click)="createTrip(tripForm)">Add Trip</button>
</form>
</div>

<!-- Update Trip Form -->
<div>
<form #updateForm="ngForm">
  Title
  <input type="text" name="title" [(ngModel)]="editTrip.title">
  Rating
  <input type="text" name="rating" [(ngModel)]="editTrip.rating">
  Total Cost
  <input type="text" name="rating" [(ngModel)]="editTrip.totalCost">
  Date Start
  <input type="text" name="dateStart" [(ngModel)]="editTrip.dateStart">
  Date End
  <input type="text" name="dateEnd" [(ngModel)]="editTrip.dateEnd">
  Review
  <input type="text" name="imgLink" [(ngModel)]="editTrip.review">
  imgLink
  <input type="text" name="imgLink" [(ngModel)]="editTrip.imgLink">
  <button class="btn btn-primary btn-sm btn-dark" type="submit" value="Save" (click)="updateTrip(updateForm)">Add Trip</button>
</form>
</div>



