<!-- NavBar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/feed']">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/discover']">Discover</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="profile.do">Profile</a>
      </li> -->
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">TrappaBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/settings']">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout.do">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<!-- <form> -->
  <input type="text" name="keyword" placeholder="search keyword" [(ngModel)]="keyword" >
  <button class="btn-primary" type="submit" value="keyword" (click)="searchForUsers()">Search For Users</button>
<!-- </form> -->
<div>
  <ul>
    <li *ngFor="let result of results">{{result.name}} {{result.firstName}} {{result.lastName}}</li>
  </ul>
</div>

<!-- <div class="col border rounded">
        <table>
          <thead>
            <th>Discover:</th></thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td><a class="card-link" [routerLink]="['/profile/' + user.id]">{{user.name}} </a></td>
              </tr>
            </tbody>
        </table>
      </div> -->



