/* .carousel slide{
  width: 100%;
  height: 1px;
} */

.tripsCarousel {
  width: 100%;
  height: 20px;
}

#detailProfPic {
  border-radius: 50%;
  display: inline-block;
}

#detailProfPic img {
  border-radius: 50%;
  height: 100px;
}

#tripsProfileName {
  font-weight: bolder;
  color: navy;
  text-align: center;
}

.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 680px;
  width: 50%px;
}

/* NEW STUFF BELOW */

.how-section1 {
  margin-top: -15%;
  padding: 10%;
}
.how-section1 h4 {
  color: rgb(103, 128, 160);
  font-weight: bold;
  font-size: 30px;
}
.how-section1 .subheading {
  color: #3931af;
  font-size: 20px;
}

.how-section1 .poster-heading {
  color: #5f8838;
  font-size: 20px;
}
.how-section1 .row {
  margin-top: 10%;
}

.how-img {
  text-align: center;
  display: inline-block;
}
.how-img img {
  width: 100%;
}

.poster-name {
  color: black;
}
.poster-name:hover {
  color: blue;
}
