<!-- NavBar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/profiles/:id']">Profile</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="profile.do">Profile</a>
      </li> -->
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">TrappaBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="login.do">Login</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="logout.do">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Update Profile Form -->

<div class="container">
  <form #updateForm="ngForm">
    Name
    <input type="text" name="name" [(ngModel)]="editProfile.name"> <!-- Add placeholders with el lang to display current information-->
    <br>
    Password
    <input type="password" name="password" [(ngModel)]="editProfile.password">
    <br>
    First Name
    <input type="text" name="firstName" [(ngModel)]="editProfile.firstName">
    <br>
    Last Name
    <input type="text" name="lastName" [(ngModel)]="editProfile.lastName">
    <br>
    Email
    <input type="text" name="email" [(ngModel)]="editProfile.email">
    <br>
    Profile Picture
    <input type="text" name="imgLink" [(ngModel)]="editProfile.imgLink">
    <br>
    Profile Bio
    <input type="text" name="bio" [(ngModel)]="editProfile.bio">
    <br>
    <button class="btn btn-dark" (click)="updateProfile(updateForm)">Update Profile</button>
  </form>

</div>
