<!-- NavBar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="profile.do">Profile</a>
      </li> -->
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">TrappaBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="login.do">Login</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="logout.do">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<!-- Update Profile Form -->

<div class="updateProfForm">
  <form #updateForm="ngForm">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" ngModel></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password" ngModel></td>
      </tr>
      <tr>
        <td>First Name</td>
        <td><input type="text" name="firstName" ngModel></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td><input type="text" name="lastName" ngModel></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" name="email" ngModel></td>
      </tr>
      <tr>
        <td>Profile Picture</td>
        <td><input type="text" name="imgLink" ngModel></td>
      </tr>
      <tr>
        <td>Profile Bio</td>
        <td><input type="text" name="bio" ngModel></td>
      </tr>
      <tr>
        <td>City</td>
        <td><input type="text" name="city" ngModel></td>
      </tr>
      <tr>
        <td>State</td>
        <td><input type="text" name="state" ngModel></td>
      </tr>
      <tr>
        <td>Country</td>
        <td><input type="text" name="country" ngModel></td>
      </tr>
      <tr>
        <td>City</td>
        <td><input type="text" name="city" ngModel></td>
      </tr>
    </tbody>
    <br>
    <div class="updateBtn">
      <button class="btn btn-dark" (click)="updateProfile(updateForm)">Update Profile</button>
    </div>
  </table>
  </form>
</div>

