<!-- NavBar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/profile']">Profile</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="profile.do">Profile</a>
      </li> -->
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">Wander</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="login.do">Login</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<!-- Update Profile Form -->

<div class="updateProfForm" *ngIf="userProfile">
  <form #updateForm="ngForm">
    <table>
      <tbody>

        <tr>
          <td>Username</td>
          <td><input type="text" name="name" [ngModel]="userProfile.user.name"></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" name="password" [ngModel]="userProfile.user.password"></td>
        </tr>
        <tr>
          <td>First Name</td>
          <td><input type="text" name="firstName" [ngModel]="userProfile.firstName"></td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td><input type="text" name="lastName" [ngModel]="userProfile.lastName"></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><input type="text" name="email" [ngModel]="userProfile.user.email"></td>
        </tr>
        <tr>
          <td>Profile Picture URL</td>
          <td><input type="text" name="imgLink" [ngModel]="userProfile.imgLink"></td>
        </tr>
        <tr>
          <td>City</td>
          <td><input type="text" name="city" [ngModel]="userProfile.location.city"></td>
        </tr>
        <tr>
          <td>State</td>
          <td><input type="text" name="state" [ngModel]="userProfile.location.state"></td>
        </tr>
        <tr>
          <td>Country</td>
          <td><input type="text" name="country" [ngModel]="userProfile.location.country"></td>
        </tr>
        <tr>
          <td>Profile Bio</td>
          <!-- <td><input type="text" name="bio" [ngModel]="userProfile.bio"></td> -->
          <td>
            <textarea rows="4" cols="50" name="bio" [ngModel]="userProfile.bio"></textarea>
          </td>
        </tr>
      </tbody>
      <br>
      <div class="updateBtn">
        <button class="btn btn-dark" (click)="updateProfile(updateForm)">Update Profile</button>
      </div>
    </table>
  </form>
</div>
