/* .profilePic {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height:300px;
  left: 30px;
} */

/* #profileCarousel {
  position: absolute;
  right: 1px;
  width:80%;
  height: 200px;
} */

#profileCarousel img {
  height: 340px;
}

/* #followBtn {
  position: absolute;
  left: 115px;
  top: 550px;
}

.profileName {
position: absolute;
top: 500px;
left: 80px;
color: navy;
font-weight: bold;
} */

.row-section {
  float: left;
  width: 100%;
  border: 1px solid rgb(185, 172, 172);
  background: rgb(247, 245, 245);
}

.row-section .row-block {
  background: rgb(247, 245, 245);
  padding: 20px;
  margin-bottom: 50px;
}
.row-section .row-block ul {
  margin: 0;
  padding: 0;
}
.row-section .row-block ul li {
  list-style: none;
  margin-bottom: 20px;
}
.row-section .row-block ul li:last-child {
  margin-bottom: 0;
}

.row-section .media .media-left img {
  width: 75px;
}
.row-section .media .media-body p {
  padding: 0 15px;
  font-size: 14px;
}

.row-section .media-body {
  width: 100px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  position: relative;
  margin-top: 10px;
  right: 10%;
  margin-right: 50px;
}

.row-section .following-title {
  color: rgb(42, 73, 139);
}

.row-section img {
  position: relative;
  right: 30%;
  left: 1%;
  margin-right: 60px;
}

.row-section .card-link {
  color: rgb(62, 114, 173);
}

.row-section .card-link:hover {
  color: blue;
  text-decoration: underline;
}
