/* .profilePic {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height:300px;
  left: 30px;
}

#profileCarousel {
  position: absolute;
  right: 1px;
  width:80%;
  height: 200px;
}

#profileCarousel img{
  height: 340px;
}

#followBtn {
  position: absolute;
  left: 115px;
  top: 550px;
}

.profileName {
position: absolute;
top: 500px;
left: 80px;
color: navy;
font-weight: bold;
} */
