body {
  background-color: #eeeeee;
}

.h7 {
  font-size: 0.8rem;
}

.gedf-wrapper {
  margin-top: 0.97rem;
}

.ta-trip-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  width: 100%;
}

@media (min-width: 992px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .gedf-card {
    margin-bottom: 2.77rem;
  }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
  content: none;
  display: none;
}

/* NEW TEST MATERIAL */

.card-inner{
  margin-left: 4rem;
}

.card-inner img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  position: relative;
  right: 15%;
}

.card-inner #timestamp {
  text-align: left;
  float: right;
}
