<!-- NavBar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/feed']">Timeline</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/discover']">Discover</a>
      </li>
    </ul>
  </div>
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">TrappaBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/settings']">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout.do">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<br>


<!-- Search bar for -->
<div class="container">
  <form>
    <div>
      <input class="form-control mr-sm-2" id="searchBar" type="text" placeholder="Search">
      <button class="btn btn-dark" type="submit" value="Search">Search</button>
    </div>
  </form>
</div>
<br>


<div class="container-fluid" *ngIf="showProfile">

  <div class="row">


    <!-- Profile left side\\\\\ -->
    <div class="col-2 profilePicture">

      <img [src]="showProfile.imgLink" class="img-fluid img-thumbnail profilePic" alt="Profile Picture">


      <!-- Profile First and Last Name -->
      <div class="profileName">
        <h3>
          <p>{{showProfile.firstName}} {{showProfile.lastName}}</p>
        </h3>
      </div>


      <!-- Follow Button -->
      <!-- <div id="followBtn" *ngIf="!followClicked"> -->
      <div id="followBtn">
        <button class="btn btn-outline-dark" type="submit" value="Follow" (click)="followUser()">Follow</button>
      </div>
      <!-- <div id="unfollowBtn" *ngIf="followClicked"> -->
      <div id="unfollowBtn">
        <button class="btn btn-outline-dark" type="submit" value="unFollow" (click)="unfollowUser()">unFollow</button>
      </div>


    </div>
    <!-- /////Profile left side -->


    <!-- Carousel -->
    <div id="profileCarousel" class="col-10 carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://www.rei.com/adventures/assets/adventures/images/trip/core/latinamerica/pam_hero"
            alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://media.gq.com/photos/58249cdda9546c3d5193215a/3:4/w_640/1216-GQ-FERR02-01-Ryan-Reynolds-Deadpool-04.jpg"
            alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://news.bbcimg.co.uk/news/special/2015/newsspec_12558/media/1920xxjasonhawkes-0056-mr.jpg"
            alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#profileCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#profileCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>


      <!-- Trips Div///// -->
      <div class="row">

        <div class="col border rounded">
          <h2>Bookmarked Trips</h2>
          <!-- TEMP STUFF STYLING TEST -->
          <div *ngFor="let favoritePost of favoritePosts" class="row">
            <div class="col">
              <div class="card mb-4 border-dark">
                <img class="card-img-top" [src]="favoritePost.trip.imgLink" alt="Card trip image cap">
                <div class="card-body">
                  <h5 class="card-title">{{favoritePost.trip.title}}</h5>
                  <p class="card-text">{{favoritePost.message}}</p>
                  <a [routerLink]="['/trips/' + favoritePost.trip.id]" class="btn btn-dark btn-sm">View Trip</a>
                </div>
              </div>
            </div>
          </div>
          <!-- END TEMP STUFF -->
        </div>

        <div class="col border rounded">
          <h2>My Trips</h2>
          <div *ngFor="let post of postsById" class="row">
            <div class="col">
              <div class="card mb-4 border-dark">
                <img class="card-img-top" [src]="post.trip.imgLink" alt="Card trip image cap">
                <div class="card-body">
                  <h5 class="card-title">{{post.trip.title}}</h5>
                  <p class="card-text">{{post.message}}</p>
                  <a [routerLink]="['/trips/' + post.trip.id]" class="btn btn-dark btn-sm">View Trip</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- /////Trips Div -->


    </div>

  </div>

</div>
