<!-- NavBar with login in Feature Form on the right -->
<div class="container-fluid">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand mx-auto" [routerLink]="['/home']"></a>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <app-login></app-login>

      <!-- This has been moved to login.component.html for now,
         we may remove the following code after everything works -->

      <!-- <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      <form class="navbar-collapse collapse w-100 order-3 dual-collapse2" #loginForm="ngForm">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="username">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="password">
        <button class="btn btn-light" type="submit" value="Submit">Login</button>
      </form>
    </ul> -->

    </ul>
  </div>
</nav>
</div>



<!-- Register Forms -->
<div class="container">

<!-- /.container -->

<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4" font-family="Arial, Helvetica, sans-serif">Wander
    <small>don't wonder...</small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" id="pic" src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_900,c_fill,g_auto,h_506,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F180822162913-06-vacation-travel-0822-restricted.jpg" alt="">
    </div>

    <div class="col-md-4">
      <h1 class="my-3" font-family="Arial, Helvetica, sans-serif">Wander</h1>
      <h6><strong>A Travel App for Adventure People</strong></h6>
      <p>Whether you're backpacking, planning your next trip, or thinking about where you should go next, Wander was made for you.</p>
      <h3 class="my-3">Features:</h3>
      <ul>
        <li>Features to help travelers research</li>
        <li>Features to help travelers plan</li>
        <li>A discover feature</li>
        <li>Search for new travel buddies</li>
      </ul>
    </div>

  </div>

<div class="row">
  <div class="col"></div>
  <div class="col">
      <div class="registrationForm" >

          <h3 font-family="Arial, Helvetica, sans-serif">What are you waiting for?  Start Wandering!</h3>
          Create A New Account.
        <br>
        <br>
          <form #registerForm="ngForm">
            <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="register.firstName">
                 &nbsp;
            <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="register.lastName">
            <br>
            <input type="text" name="email" placeholder="Email" class="formInput" [(ngModel)]="register.email">
            <br>
            <input type="text" name="name" placeholder="Username" class="formInput" [(ngModel)]="register.name">
            <br>
            <input type="password" name="password" placeholder="New Password" class="formInput" [(ngModel)]="register.password">
            <br>
            <br>
              <button type="submit" class="btn btn-dark" value="Submit" (click)="registerUser(registerForm)">Register</button>
          </form>
        </div>
      </div>
      <div class="col"></div>
      </div>

  <!-- /.row -->

  <!-- Related Projects Row -->
  <h3 class="my-4">Where would you like to go?</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" id="pic" src="http://newacttravel.com/wp-content/uploads/2017/08/barcelona.jpg" width="500" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" id="pic" src="https://cdn.tourradar.com/s3/tour/original/882_b36204ce.jpg" width="500" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" id="pic" src="https://www.planetware.com/photos-large/CH/switzerland-interlaken-st-beatus-cave.jpg" width="500" alt="">
          </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
            <img class="img-fluid" id="pic" src="https://d34ftvyq1mhc1v.cloudfront.net/1670_Thailand+Island+Hopping_web_hero.jpg" width="500" alt="">
          </a>
    </div>

  </div>
  <!-- /.row -->

</div>

<div class="container">
    <!-- Introduction Row -->

    <div class="row">
      <div class="col"></div>
      <div class="col">
          <h1 class="my-4">About Us
            </h1>
        <h5>We're passionate about travel, so we decided to create a place for travelers and adventurers to come together.  Inspired by our own travels and always wanting to discover new places, we combined our unique ideas to create an experience for travelers, adventurers, and maybe even digital nomads like ourselves.</h5>
      </div>
      <div class="col"></div>
      </div>
    <!-- Team Members Row -->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="my-4">Our Team</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" width="200" src="https://cdn5.vectorstock.com/i/thumb-large/82/64/goatee-beard-young-handsome-hipster-male-icon-vector-6128264.jpg" alt="">
        <h3>Richard P.
          <small>Scrum Master</small>
        </h3>
        <p>Trello card updater, technical speaker, developer </p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" width="300" src="https://us.123rf.com/450wm/jkazanceva/jkazanceva1807/jkazanceva180700026/104306092-vector-men-face-hipster-head-with-haircuts-for-avatars-emblems-and-icons-labels.jpg?ver=6" alt="">
        <h3>Amber M.
          <small>Database Manager</small>
        </h3>
        <p>Data manager, stack-overflow researcher, developer</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" width="200" src="https://cdn4.vectorstock.com/i/thumb-large/93/93/hipster-avatar-image-vector-19639393.jpg" alt="">
        <h3>Isaac S.
          <small>UX/UI</small>
        </h3>
        <p>User experience guru, developer.</p>
      </div>

    </div>

  </div>
  <h3>Our Headquarters</h3>
<h4><em>7400 E Orchard Rd #1450n, Greenwood Village, CO 80111</em></h4>
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAafk6IHPSK6Yx6QvCKSGKIV8jY_ZZLzLc&callback=myMap"></script>

<!-- /.container -->



