#TravelDestinations {
  /* position: absolute; */
  /* left: 1px; */
  width:70%;
  height: 140px;
}

/* .registrationForm {
  left: 50%;
  bottom:5px;
  position: center;
  top: 90px;
  right: 70px;
} */

.formInput{
  width: 359px;
}


.font {
	text-align: center;
	color: white;
}

.container1 {
	background: black;
}
#pic {
  border-radius: 25px;
  /* background: url(https://dynaimage.cdn.cnn.com/cnn/q_auto,w_900,c_fill,g_auto,h_506,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F180822162913-06-vacation-travel-0822-restricted.jpg); */
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  /* width: 200px;
  height: 150px; */
}

agm-map {
  height: 300px;
}

